* {
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 15vh;
    background-color: #005272;
    color: white;
    padding-bottom: 10px;
}

header h1{
    padding-top: 10px;
    opacity: 0.8;
    text-align: center;
}

header h1::before{
    content: '👫';
    position: absolute;
    transform: translateX(-110%);
    font-size: 1.5em;
}

header p{
    margin-top: 10px;
    text-align: center;
    opacity: 0.8;
}

header .main-subheading{
    font-size: 16px;
    margin-top: -3px;
    transform: rotate(-2deg) translateX(5.5em);
}

.board{
    width: 250px;
    height: 300px;
    border: 2px solid #005272 ;
    margin: 15px auto;
    padding: 15px;
    box-sizing: content-box;
    background-color: lightgray;
}

.items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    border-radius: 5px;
}

.item{
    width: 60px;
    height: 60px;
    border: 1px solid grey;
    box-sizing: border-box;
    margin: 1.2px;
    border-radius: 5px;
}

.item.facedown{
    background-color: white;
}

.item.facedown:hover{
    background-color: white;
    box-shadow: inset 0px 0px 5px 1px goldenrod;
}
.item.facedown:active{
    background-color: white;
    box-shadow: inset 0px 0px 16px 4px goldenrod;
}

.item.faceup{
    transform: translateX(-2px) translateY(-2px) scale(1.03);
    position: relative; 
    z-index: 0;
    transition: transform 0.2s linear;
    /* box-shadow: 5px 5px 20px 5px black; */
}

.item.faceup:before{
    content: "";
    top:0;
    left:0;
    bottom:0;
    right:0;
    box-shadow: 5px 5px 10px 3px black;
    /* background: crimson; */
    border-radius: 5px;
    
    position: absolute;
    z-index: -1;
}

.item.match{
    /* z-index: 0; */
    transform: scale(0.85);
    transition: height 0.3s cubic-bezier(0.625, -0.855, 0.780, 0.405);
    /* transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1); */
}

.board button{
    margin-bottom: 5px;
    height: 1.5em;
    padding: 1px 3px;
}

.board input{
    text-align: right;
    width: 5em;
    height: 1.2em;
    margin-bottom: 5px;
    margin-right: 0;
    justify-self: flex-end;
}

.tools-row{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}